
#section1_text{
    color: darkslategrey;
    font-family: FreeMono, serif;
    font-weight: bold;
}

#memphis_title{
    color: midnightblue;
    font-family: FreeMono, serif;

}

#section2_text{
    color: darkgreen;
    font-family: FreeMono, serif;
    font-weight: bold;

}

#section3_text{
    color: darkmagenta;
    font-family: FreeMono, serif;
    font-weight: bold;
}

#header_text34{
    color: deeppink;
    font-family: Gubbi, serif;
    font-weight: bolder;
}
#paraText2{
    color: navy;
    font-family: aakar, serif;
    font-weight: bold;
    font-size: larger;
}